footer{
  background:#17141d;
  padding: 20px;

  color:white ;
  
  font-family: Zelek;
  ul li{
    list-style: none;
    display:inline;
  float: right;
    a{
      color: white;
      padding: 20px;
      text-decoration: none;
      &:hover{
        color: #09fdf4;
        text-shadow: 0 0 6px #09fdf4, 0px 0 12px #09fdf4, 0px 0 24px #09fdf4, 0px 0 48px #09fdf4;
      }
    
    }
  }
  
  
}