body{
   
    color: white;
    background-image: url("https://www.animetas.io/static/media/animeta-background-space-world.9fa02725.png") ;
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  }
  h1,h2,h3,h4{
      color: inherit;
  }