.section-1{
  position: relative;
  top: 36%;
  h1{
    padding: 20% 0!important;
    color: white;
    span{
      font-size: 20px!important;
    }
  }
  
   
 
}
@media screen and (min-width: 768px) {
  .section-1{
    height: inherit!important;
    h1{
      height: inherit!important;
    }
  }
 
}